    <article x-data="{
        comment_id: '{{comment.id}}',
        comment_user_id: '{{comment.user_id}}',
        show_menu: false,

        edit_comment() {
            this.current_comment_value = `{{{comment.value}}}`;
            this.current_comment_id = this.comment_id;
            this.show_menu = false;
        },

        async remove_comment() {
            let data = {
                id: this.comment_id,
            };
            
            if (this.current_comment_id) {
                data.id = this.current_comment_id;
            }


            let headers = {
                'Content-Type': 'application/json;charset=UTF-8',
                'Authorization': 'Bearer ' + this.my_account.token,
            };

            let config = {
                method: 'post',
                url: '/comment/remove',
                data,
                headers,
            }

            this.loading = true;
            try {	
                await axios(config);

            } finally {
                let self = this;
                
                setTimeout(function(){
                    self.loading = false;
                    window.location.reload(true);
                }, 2000);
                
            }
        }

    }" class="p-6 text-base bg-white rounded-lg dark:bg-gray-900">
        <footer class="flex justify-between items-center mb-2">
            <div class="flex items-center">
                <p class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white font-semibold"><img
                        class="mr-2 w-6 h-6 rounded-full"
                        src="{{user.picture}}"
                        alt="Michael Gough">{{user.name}}</p>
                <p class="text-sm text-gray-600 dark:text-gray-400">{{comment_time}}</p>
            </div>

            <template x-if="my_account && my_account.id == comment_user_id && !loading">
                <div class="w-40">
                    <div class="text-right">
                        <button @click.stop="show_menu = true"
                            class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-500 dark:text-gray-400 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-50 dark:bg-gray-900 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                            type="button">
                            <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 3">
                                <path d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z"/>
                            </svg>
                            <span class="sr-only">Comment settings</span>
                        </button>
                    </div>
                    
                    <!-- Dropdown menu -->
                    <div @click.outside="show_menu = false" :class="show_menu || 'hidden' " class="relative">
                        <div
                            class="absolute z-10 w-36 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600">
                            <ul class="py-1 text-sm text-gray-700 dark:text-gray-200"
                                aria-labelledby="dropdownMenuIconHorizontalButton">
                                <li @click="edit_comment" class="hover:bg-gray-100 dark:hover:bg-gray-600">
                                    <button 
                                        class="block py-2 px-4 dark:hover:text-white">Edit</button>
                                </li>
                                <li  @click="remove_comment" class="hover:bg-gray-100 dark:hover:bg-gray-600">
                                    <button 
                                        class="block py-2 px-4  dark:hover:text-white">Remove</button>
                                </li>
                            
                            </ul>
                        </div>
                    </div>
                    
                </div>
            </template>
        </footer>
        <div class="p-4 my-6 mx-4 bg-white rounded-lg shadow md:justify-between md:p-6 xl:p-8 dark:bg-gray-800 text-gray-700 dark:text-gray-200 markdown-body" >{{{comment_content}}}</div>
    </article>