<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Redirect</title>
    <meta name="description" content="Redirect Page">

    <link rel="apple-touch-icon" sizes="180x180" href="/public/images/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/android-chrome-192x192.png">
	<link rel="icon" type="image/png" sizes="512x512"  href="/android-chrome-512x512.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/public/images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/public/images/favicon-16x16.png">
	<link rel="manifest" href="/public/images/site.webmanifest">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
        rel="stylesheet">
   

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" integrity="sha512-wnea99uKIC3TJF7v4eKk4Y+lMz2Mklv18+r4na2Gn1abDRPPOeef95xTzdwGD9e6zXJBteMIhZ1+68QC5byJZw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind-dark.min.css" integrity="sha512-5qCImO4bnvlpsqNsYuZEHlzJhEN3MBqd3GZp0QCJS0gVNq3Q+MT9Msw8c4UT2j5Cuq/29kz3jCmgYJpekNqSMQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
    <!-- Alpine Plugins -->
    <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/persist@3.x.x/dist/cdn.min.js"></script>
 
    <!-- Alpine Core -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

    <script>
        var my = '{{{user_info_json}}}';
    </script>
</head>
<body>
    
    {{{header_html}}}
    <div class="pt-16 bg-gray-50 dark:bg-gray-900" 
        x-init="set_account()" x-data="{
                redirect: $persist(null).as('redirectd'),
                my_account:  $persist(null).as('my_account'),

                set_account() {
                    this.my_account = my;
                },

                red() {
                     window.location.href = this.redirect;
                }

            }">

        <div class="flex justify-center ml-3 p-4">
            <button @click="red" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center inline-flex items-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Click to redirect
            </button>
        
        </div>

        {{{footer_html}}}
        <p class="my-10 text-sm text-center text-gray-500">
                Powered by <a href="https://www.pagwe.net" class="hover:underline"
                    target="_blank">www.pagwe.net</a>. All rights reserved.
        </p>
        
    </div>
   
</div>
</div>
</body>

</html>