<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
	
{{#metas}}
	{{#title}}
	  <title>{{title}}</title>
	  <meta name="og:title" content="{{title}}">
	  <meta name="twitter:title" content="{{title}}">
	{{/title}}

	{{#description}}
	  <meta name="description" content="{{description}}">
	  <meta name="og:description" content="{{description}}">
	  <meta name="twitter:description" content="{{description}}">
	{{/description}}
	

	{{#video}}
	  <meta name="twitter:card" content="player">
	  {{#youtubeID}}
	    <meta name="twitter:image" content="https://img.youtube.com/vi/{{{youtubeID}}}/0.jpg">
	    <meta name="twitter:player" content="https://www.youtube.com/embed/{{{youtubeID}}}">
		<meta name="twitter:player:width" content="360" />
        <meta name="twitter:player:height" content="200" />
      {{/youtubeID}}
	{{/video}}
	{{^video}}
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:image" content="https://{{{HOST_NAME}}}{{{image.src}}}">
      {{#alt}}
	  	<meta name="twitter:image.alt" content="https://{{{HOST_NAME}}}{{image.alt}}">
	  {{/alt}}
	{{/video}}

	

	{{#twitter_player_width}}
	  <meta property="twitter.player.width" content="{{twitter_player_width}}" />
	{{/twitter_player_width}}
	{{#twitter_player_height}}
	  <meta property="twitter.player.height" content="{{twitter_player_height}}" />
	{{/twitter_player_height}}

	{{#__PROJECT__.name}}
	  <meta property="twitter:site" content="{{__PROJECT__.name}}" />
	{{/__PROJECT__.name}}


	{{#og_type}}
	  <meta name="og:type" content="{{og_type}}" />
	{{/og_type}}
	
	{{^og_type}}
	  <meta name="og:type" content="article" />
	{{/og_type}}

	<meta name="og:url" content="https://{{{HOST_NAME}}}/blog/user/{{{DOC_PATH}}}">
	
	{{#image}}
	  <meta name="og:image" content="https://{{{HOST_NAME}}}{{{image.src}}}">
	{{/image}}

	
	
{{/metas}}

	<link rel="apple-touch-icon" sizes="180x180" href="/public/images/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/android-chrome-192x192.png">
	<link rel="icon" type="image/png" sizes="512x512"  href="/android-chrome-512x512.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/public/images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/public/images/favicon-16x16.png">
	<link rel="manifest" href="/public/images/site.webmanifest">
	 
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
        rel="stylesheet">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" integrity="sha512-wnea99uKIC3TJF7v4eKk4Y+lMz2Mklv18+r4na2Gn1abDRPPOeef95xTzdwGD9e6zXJBteMIhZ1+68QC5byJZw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind-dark.min.css" integrity="sha512-5qCImO4bnvlpsqNsYuZEHlzJhEN3MBqd3GZp0QCJS0gVNq3Q+MT9Msw8c4UT2j5Cuq/29kz3jCmgYJpekNqSMQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

	<!-- Alpine Plugins -->
    <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/persist@3.x.x/dist/cdn.min.js"></script>
 
    <!-- Alpine Core -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

	<link rel="stylesheet" href="/public/css/github-markdown.css">
<style>
	
	pre {
		tab-size: 4;
		counter-reset: linecounter;
		padding: 0;
		font-size: 16px;
		line-height: 16px;
	}
	pre span.line {
		counter-increment: linecounter;
		line-height: 16px;
	}
	pre span.line::before {
		content: counter(linecounter);
		width: 30px;
		display: inline-block;
		border-right: 1px dotted #ccc;
		padding-right: 3px;
		margin-right: 5px;
		text-align: left;
		font-size: 11px;
		line-height: 16px;
	}
</style>

<script type="text/javascript">
//for global variables
{{#meta_list}}
	var _meta_{{name}} = "{{value}}";
{{/meta_list}}

	var _DOC_NAME_ = "{{{DOC_NAME}}}";
    var _DOC_CLAZZ_ = 'blog';

</script>

<script type="text/javascript">
	function addLineClass (pre) {
		var lines = pre.innerText.trim().split("\n"); // can use innerHTML also
		while(pre.childNodes.length > 0) {
			pre.removeChild(pre.childNodes[0]);
		}
		for(var i = 0; i < lines.length; i++) {
			var span = document.createElement("span");
			span.className = "line";
			span.innerText = lines[i]; // can use innerHTML also
			pre.appendChild(span);
			pre.appendChild(document.createTextNode("\n"));
			
			
		}
	}
	window.addEventListener("load", function () {
		var pres = document.querySelectorAll("pre > code ");
		for (var i = 0; i < pres.length; i++) {
			addLineClass(pres[i]);
		}
	}, false);


	async function test(config) {
		
	}
</script>


</head>
<body>


	{{{header_html}}}

    <div class="flex pt-16 bg-gray-50 dark:bg-gray-900">
        {{{side_bar_html}}}
        <div class="lg:px-20 lg:ml-80 w-full">
            
            
			
            <div class="pt-8 flex flex-col items-center pb-10">
				<img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="{{{user.picture}}}" alt="{{user.name}}"/>
				<h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">{{user.name}}</h5>
			</div>
			
			
			<div class="p-4 markdown-body dark:bg-gray-800">
				{{{profile}}}
			</div>

			<template x-if="my_account">
				<div x-data="{
					profile: '',

					async save_profile() {

						let data = {
							value: this.profile,
						};


						let headers = {
							'Content-Type': 'application/json;charset=UTF-8',
							'Authorization': 'Bearer ' + this.my_account.token,
						};

						let config = {
							method: 'post',
							url: '/profile/save',
							data,
							headers,
						};

						this.loading = true;
						try {	
							await axios(config);

						} finally {
							let self = this;
							setTimeout(function(){
								self.loading = false;
								window.location.reload(true);
							}, 2000);
						}

					}

				}" class="flex flex-col items-end p-4 my-6 mx-4 bg-white rounded-lg shadow md:justify-between md:p-6 xl:p-8 dark:bg-gray-800">

					<label for="profile" class="justify-self-start block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your Profile[markdown supported]</label>
					<textarea x-model="profile"  rows="4" class="block mb-2 p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Markdown profile..."></textarea>
					<div class="basis-1/4">
						<button :class="loading && 'hidden' " @click="save_profile" type="button" class="px-3 py-2 text-xs font-medium text-center text-gray-700 hover:bg-gray-100 dark:text-gray-300  dark:hover:text-white dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Save</button>
					</div>
				</div>
			</template>

			
            
            <div id="comments">
				
                {{#comments_html}}
                    {{{comments_html}}}
                {{/comments_html}}
            </div>
				
           
			{{{footer_html}}}	
        </div>
    </div>

</div>
</div>
</body>

</html>