<a href="/profile/{{user.id}}">
    <div class="flex flex-col items-center p-4">
        <img class="w-10 h-10 mb-3 rounded-full shadow-lg" src="{{user.picture}}" alt="{{user.name}}"/>
        <h5 class="mb-1 text-sm font-medium text-gray-900 dark:text-white">{{user.name}}</h5>
    </div>
</a>